<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    <link rel="stylesheet" href="/static/styles/blogs.css">
    <title>Список постов</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Главная</a>
            <a href="">Посты</a>
            <a href="">О проекте</a>
            <a href="">выйти</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <section class="arguments">
                <div class="arguments-block-left">
                    <input type="text" placeholder="Поиск">
                    <button>Создать пост</button>
                </div>
                <div class="arguments-block-right">
                    <button>Сортировка<img src="" alt=""></button>
                </div>
            </section>            

            <h1><b>Список постов</b></h1>
            <section class="blogs">
                <div class="blog">
                    <div class="blog-left-block">
                        <h2><b>vfsgfdsgsdfgfds</b></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi voluptatibus aliquam velit laboriosam. Nemo quia laborum neque sunt omnis blanditiis earum praesentium? Rem numquam voluptas dolores fugiat incidunt veritatis fuga?</p>
                    </div>
                    <div class="blog-right-block">
                        <button id="open"><b>Открыть</b></button>
                        <button id="delete"><b>Удалить</b></button>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-left-block">
                        <h2><b>vfsgfdsgsdfgfds</b></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi voluptatibus aliquam velit laboriosam. Nemo quia laborum neque sunt omnis blanditiis earum praesentium? Rem numquam voluptas dolores fugiat incidunt veritatis fuga?</p>
                    </div>
                    <div class="blog-right-block">
                        <button id="open"><b>Открыть</b></button>
                        <button id="delete"><b>Удалить</b></button>
                    </div>
                </div>
            </section>
        </section>

    </main>
    <script src="script.js"></script>
</body>
</html>